[submodule "makespan-scheduler"]
	path = tools/makespan-scheduler
	url = https://github.com/KodBena/makespan-scheduler.git
[submodule "tools/autoharn-panel"]
	path = tools/autoharn-panel
	url = https://github.com/KodBena/autoharn-panel.git
